# Ignore compiled class files
*.class

# Ignore log files
*.log

# Ignore temp files
*.tmp

# Ignore build directories
/out/
/target/
/bin/

# Ignore IDE-specific files
.idea/
.vscode/
*.iml

# Ignore Eclipse project files
*.classpath
*.project
.settings/

# Ignore macOS specific files
.DS_Store
